<main class="meme-container">
  <h1 class="subtitle-list">Popularity</h1>
  <section class="list-popularity">
    <% @memes.each do |meme| %>
      <%= render 'card_memes', meme: meme %>
    <% end %>
  </section>
</main>
