<footer class="footer">
  <div class="footer_owners">
    <h2>Made by  <%= link_to  "Robert Medina", root_path %>, <%= link_to  "Fernando Pareja", root_path %>, <%= link_to  "Victor Rodriguez", root_path %></h2>
    <h2>Codeable</h2>
  </div>
</footer>
