$base-color: #78cfba;

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  min-height: 80vh;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
.subtitle-list {
  text-align: left;
  align-self: flex-start;
  font-size: 30px;
  font-weight: normal;
  padding-bottom: 9px;
  border-bottom: 2px solid #78cfba;
  color: #78cfba;
}
.meme-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.list-memes {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  margin: 0 0 50px 0;
  padding: 0;
}

.list-memes::-webkit-scrollbar {
  display: none;
}

.meme-title {
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  margin-bottom: 10px;
}

.meme-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 275px;
  margin: 40px 55px 0px 0px;
}
.meme-card:last-child {
  margin-right: 0;
}
.meme-card img {
  width: 250px;
  height: 250px;
  margin: 0;
  padding: 0;
}

.meme-route {
  height: 250px;
}

.meme-author {
  background: #000000;
  width: 100%;
  height: 25px;
  padding: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: "Lilita One", cursive;
}
.meme-author {
  color: #78cfba;
  font-size: 15px;
  line-height: 14px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

.meme-author span {
  color: #ffffff;
  margin-right: 5px;
}
.list-popularity {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5%;
  width: 90%;
}

.footer {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.dark-link {
  color: #f0f0f0;
  padding: 5px 7px;
  background: #181f33;
  border-radius: 10px;
}

.pink-text {
  font-size: 12px;
  line-height: 14px;
  color: #dc7f9b;
}

.text-big {
  display: block;
  font-size: 16px;
  line-height: 18px;
  margin: 10px 0;
}

.text-small {
  display: inline-flex;
  width: 44px;
  line-height: 1;
  text-align: center;
  vertical-align: top;
}

.green-text {
  font-size: 16px;
  line-height: 18px;
  color: #78cfba;
}

.comment-box {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 5px auto;
  width: 95%;
}

.comments {
  width: 100%;
  padding: 10px 0;
}

.comments--title {
  font-size: 24px;
  line-height: 27px;
  color: #000000;
}

.comments--input {
  box-shadow: none;
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 10px 0;
}

.comments--input::placeholder {
  font-size: 16px;
  line-height: 18px;
  color: #c4c4c4;
}

.meme-buttons {
  background: #e5e5e5;
  border: 1px solid #000000;
  padding: 5px 10px;
  font-weight: normal;
  font-family: arial, sans-serif;
}

.actions {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .list-memes {
    flex-wrap: nowrap;
    overflow: scroll;
  }
  div.nav_links {
    flex-wrap: nowrap;
  }
  .create-meme-button {
    position: sticky;
    margin: 0 auto;
    bottom: 0;
    margin-bottom: 10px;
    background: $base-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .create-meme-link {
    color: #ffffff;
    border-radius: 10px;
  }
  .memes-links-button {
    list-style: none;
    position: absolute;
    background: white;
  }
}
