$base-color: #78cfba;

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  background: #ffffff;
  padding: 5px;
  width: 90%;
  top: 0;
  position: sticky;
  z-index: 5;
  margin: 0 5%;
}

.nav_links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}
.nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.nav_links li,
.nav_links a {
  padding: 3px 0;
  margin-left: 10px;
  font-size: 20px;
  line-height: 18px;
  color: #000000;
}
.nav_sections {
  display: flex;
}
a.sign_up,
a.sign_in {
  background: $base-color;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 7px;
  margin-left: 12px;
}
a.sign_in {
  color: $base-color;
  background: #ffffff;
  border: 1px solid $base-color;
}
.nav-menu,
#menu-bar {
  display: none;
}
@media (max-width: 768px) {
  .nav {
    height: 90px;
  }
  .nav-menu,
  #menu-bar {
    display: inherit;
    justify-self: flex-end;
  }
  .nav-menu {
    position: relative;
    font-size: 40px;
    color: $base-color;
  }
  #menu-bar {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }
  .nav-section {
    display: none;
  }
  .nav_links {
    justify-content: flex-end;
  }
  #menu-bar:checked + .nav-section {
    display: block;
    position: absolute;
    top: 90px;
  }
  .nav-section ul {
    display: flex;
    flex-direction: column;
    background: $base-color;
  }
}
