.nav-wrapper{
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
  background: #ffffff;
  padding: 5px;
  width: 95%;
  top: 0;
  margin: 0 auto;
}

.nav_links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}
.nav ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}
.nav_links li {
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.nav_sections {
  display: flex;
}

a.create_meme,
a.sign_up,
a.sign_in {
  background: #78cfba;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 7px;
}
a.create_meme,
a.sign_in,
a.sing_uo {
  margin-left: 12px;
}
a.sign_in {
  color: #78cfba;
  background: #ffffff;
  border: 1px solid #78cfba;
}
